<section class="quiz">
  <div class="quiz-container">
    <section class="header"><h3>Create your own quiz</h3></section>
    <section class="details">
      <div *ngIf="continue == false" class="inner-container">
        <div class="detail">
          <h4>Number of Questions:</h4>
          <button
            [class.clicked]="qNum === 5"
            [class.set-qNum]="qNum !== 5"
            (click)="qNum = 5"
          >
            5
          </button>
          <button
            [class.clicked]="qNum === 10"
            [class.set-qNum]="qNum !== 10"
            (click)="qNum = 10"
          >
            10
          </button>
          <button
            [class.clicked]="qNum === 15"
            [class.set-qNum]="qNum !== 15"
            (click)="qNum = 15"
          >
            15
          </button>
        </div>
        <div class="detail">
          <h4>Time:</h4>
          <button
            [class.clicked]="time === 5"
            [class.set-time]="time !== 5"
            (click)="time = 5"
          >
            5
          </button>
          <button
            [class.clicked]="time === 10"
            [class.set-time]="time !== 10"
            (click)="time = 10"
          >
            10
          </button>
          <button
            [class.clicked]="time === 15"
            [class.set-time]="time !== 15"
            (click)="time = 15"
          >
            15
          </button>
        </div>
        <div class="detail">
          <h4>Difficulty:</h4>
          <button
            [class.clicked]="difficulty === 1"
            [class.set-difficulty]="difficulty !== 1"
            (click)="difficulty = 1"
          >
            1
          </button>
          <button
            [class.clicked]="difficulty === 2"
            [class.set-difficulty]="difficulty !== 2"
            (click)="difficulty = 2"
          >
            2
          </button>
          <button
            [class.clicked]="difficulty === 3"
            [class.set-difficulty]="difficulty !== 3"
            (click)="difficulty = 3"
          >
            3
          </button>
        </div>
        <div class="detail">
          <h4>Quiz Type:</h4>
          <button
            [class.clicked]="type === 'single answer'"
            [class.set-type]="type !== 'single answer'"
            (click)="type = 'single answer'"
          >
            single answer
          </button>
          <button
            [class.clicked]="type === 'multiple choice'"
            [class.set-type]="type !== 'multiple choice'"
            (click)="type = 'multiple choice'"
          >
            multiple choice
          </button>
        </div>
      </div>

      <button
        (click)="continue = true"
        *ngIf="continue == false"
        class="continue"
      >
        Continue
      </button>
    </section>

    <section class="question-input-multiple-choice">
      <div
        *ngIf="continue == true && canPost == false"
        class="inner-container-mc"
      >
        <form class="quizForm" [formGroup]="f" (ngSubmit)="addQuestion()">
          <h2 *ngIf="chosenImage == true">Create question</h2>

          <div *ngIf="chosenImage == false" class="first-row">
            <input
              class="fInput-image"
              type="text"
              name="qName"
              id="qName"
              placeholder="Quiz image URL:"
              formControlName="qImgUrl"
            />
          </div>
          <div *ngIf="chosenImage == true" class="first-row">
            <input
              class="fInput"
              type="text"
              name="qName"
              id="qName"
              placeholder="Question name:"
              formControlName="qName"
            />

            <input
              class="fInput"
              type="text"
              formControlName="qRAnswer"
              placeholder="Right answer: "
            />
          </div>

          <div *ngIf="chosenImage == true" class="second-row">
            <input
              class="fInput"
              type="text"
              formControlName="qWAnswer1"
              placeholder="Wrong answer: "
            />

            <input
              class="fInput"
              type="text"
              formControlName="qWAnswer2"
              placeholder="Wrong answer: "
            />

            <input
              class="fInput"
              type="text"
              formControlName="qWAnswer3"
              placeholder="Wrong answer: "
            />
          </div>

          <button *ngIf="chosenImage == true" class="add-question">
            Add question
          </button>
          <button
            *ngIf="chosenImage == false"
            class="add-question"
            (click)="chosenImage = true; setImage()"
          >
            Next
          </button>
        </form>
        <button
          class="go-back"
          *ngIf="continue == true && qArray.length == 0"
          (click)="continue = false"
        >
          Go back
        </button>
      </div>

      <button class="post" (click)="createQuiz()" *ngIf="canPost == true">
        Create quiz
      </button>
    </section>
  </div>
</section>
