<section class="quiz">
  <div class="quiz-container">
    <section class="header"><h3>Create your own quiz</h3></section>
    <section class="details">
      <div *ngIf="continue == false" class="inner-container">
        <div class="detail">
          <h4>Number of Questions:</h4>
          {{ questions }}
          <button
            [class.clicked]="qNum === 5"
            [class.set-qNum]="qNum === 0"
            (click)="qNum = 5"
          >
            5
          </button>
          <button
            [class.clicked]="qNum === 10"
            [class.set-qNum]="qNum === 0"
            (click)="qNum = 10"
          >
            10
          </button>
          <button
            [class.clicked]="qNum === 15"
            [class.set-qNum]="qNum === 0"
            (click)="qNum = 15"
          >
            15
          </button>
        </div>
        <div class="detail">
          <h4>Quiz Time:</h4>
          {{ time }}
          <button
            [class.clicked]="time === 5"
            [class.set-time]="time === 0"
            (click)="time = 5"
          >
            5
          </button>
          <button
            [class.clicked]="time === 10"
            [class.set-time]="time === 0"
            (click)="time = 10"
          >
            10
          </button>
          <button
            [class.clicked]="time === 15"
            [class.set-time]="time === 0"
            (click)="time = 15"
          >
            15
          </button>
        </div>
        <div class="detail">
          <h4>Quiz Difficulty:</h4>
          {{ difficulty }}
          <button
            [class.clicked]="difficulty === 1"
            [class.set-difficulty]="difficulty === 0"
            (click)="difficulty = 1"
          >
            1
          </button>
          <button
            [class.clicked]="difficulty === 2"
            [class.set-difficulty]="difficulty === 0"
            (click)="difficulty = 2"
          >
            2
          </button>
          <button
            [class.clicked]="difficulty === 3"
            [class.set-difficulty]="difficulty === 0"
            (click)="difficulty = 3"
          >
            3
          </button>
        </div>
        <div class="detail">
          <h4>Quiz Type:</h4>
          {{ type }}
          <button
            [class.clicked]="type === 'single answer'"
            [class.set-type]="type === ''"
            (click)="type = 'single answer'"
          >
            single answer
          </button>
          <button
            [class.clicked]="type === 'multiple choice'"
            [class.set-type]="type === ''"
            (click)="type = 'multiple choice'"
          >
            multiple choice
          </button>
        </div>
      </div>

      <button
        (click)="continue = true"
        *ngIf="continue == false"
        class="continue"
      >
        Continue
      </button>
    </section>

    <section class="question-input-multiple-choice">
      <div *ngIf="continue == true && canPost == false" class="inner-container">
        <form [formGroup]="f" (ngSubmit)="addQuestion()">
          <h2>Create question</h2>

          <input
            type="text"
            name="qName"
            id="qName"
            placeholder="Question name:"
            formControlName="qName"
          />

          <input
            type="text"
            formControlName="qRAnswer"
            placeholder="Right answer: "
          />

          <input
            type="text"
            formControlName="qWAnswer1"
            placeholder="Wrong answer: "
          />

          <input
            type="text"
            formControlName="qWAnswer2"
            placeholder="Wrong answer: "
          />

          <input
            type="text"
            formControlName="qWAnswer3"
            placeholder="Wrong answer: "
          />
          <button>Add question</button>
        </form>
        <button *ngIf="continue == true" (click)="continue = false">
          Go back
        </button>
      </div>
      <button (click)="createQuiz()" *ngIf="canPost == true">
        Create quiz
      </button>
    </section>
  </div>
</section>
