<section class="quiz">
  <div *ngIf="!isSubmitLoading" class="quiz-container">
    <section class="question">
      {{ quiz[qNumber] ? quiz[qNumber].question : "" }}
      <h3 *ngIf="qNumber == quiz.length && qNumber > 0">
        Quiz is ready for submission
      </h3>
    </section>

    <section class="answers">
      <div class="first-row">
        <button
          id="1"
          [class.clicked]="userAnswers[qNumber] == quiz[qNumber].answers[0]"
          [class.regular]="userAnswers[qNumber] != quiz[qNumber].answers[0]"
          *ngIf="qNumber < quiz.length && quiz.length > 0"
          (click)="pushAnswer(0, quiz[qNumber].answers[0])"
        >
          {{ quiz[qNumber] ? quiz[qNumber].answers[0] : "" }}
        </button>
        <button
          id="2"
          [class.clicked]="userAnswers[qNumber] == quiz[qNumber].answers[1]"
          [class.regular]="userAnswers[qNumber] != quiz[qNumber].answers[1]"
          *ngIf="qNumber < quiz.length && quiz.length > 0"
          (click)="pushAnswer(1, quiz[qNumber].answers[1])"
        >
          {{ quiz[qNumber] ? quiz[qNumber].answers[1] : "" }}
        </button>
      </div>
      <div class="second-row">
        <button
          id="3"
          [class.clicked]="userAnswers[qNumber] == quiz[qNumber].answers[2]"
          [class.regular]="userAnswers[qNumber] != quiz[qNumber].answers[2]"
          *ngIf="qNumber < quiz.length && quiz.length > 0"
          (click)="pushAnswer(2, quiz[qNumber].answers[2])"
        >
          {{ quiz[qNumber] ? quiz[qNumber].answers[2] : "" }}
        </button>
        <button
          id="4"
          [class.clicked]="userAnswers[qNumber] == quiz[qNumber].answers[3]"
          [class.regular]="userAnswers[qNumber] != quiz[qNumber].answers[3]"
          *ngIf="qNumber < quiz.length && quiz.length > 0"
          (click)="pushAnswer(3, quiz[qNumber].answers[3])"
        >
          {{ quiz[qNumber] ? quiz[qNumber].answers[3] : "" }}
        </button>
      </div>

      <button
        class="next-question"
        *ngIf="qNumber < quiz.length && quiz.length > 0"
        (click)="nextQuestion()"
      >
        Next Question
      </button>
      <button
        class="submit-answers"
        (click)="submit()"
        *ngIf="qNumber == quiz.length && quiz.length > 0"
      >
        Submit answers
      </button>
      <button class="go-back" (click)="goBack()" *ngIf="qNumber > 0">
        Go back
      </button>
    </section>
  </div>
</section>
