<section class="profile">
  <div class="profile-container">
    <div class="identity">
      <div class="credentials">
        <img src="{{ imgUrl }}" alt="" class="profile-photo" />
        <div class="name-points">
          <h3>{{ username }}</h3>
          <h4>{{ points }} points</h4>
        </div>
      </div>
      <div class="change">
        <div>
          <input type="text" class="change-username" placeholder="Username" />
          <button>Change username</button>
        </div>

        <div>
          <input type="text" class="change-username" placeholder="Img URL" />
          <button>Change photo</button>
        </div>
      </div>
    </div>
    <div class="stats">
      <div class="first-row">
        <div class="stat">
          <img
            src="https://www.flaticon.com/svg/static/icons/svg/3406/3406805.svg"
            alt=""
            class="stat-svg"
          />
          <h4>{{ qPlayed }} Quizzes played</h4>
        </div>
        <div class="stat">
          <img
            src="https://www.flaticon.com/svg/static/icons/svg/69/69839.svg"
            alt=""
            class="stat-svg"
          />
          <h4>{{ success }}% Success ratio</h4>
        </div>
      </div>

      <div class="second-row">
        <div class="stat">
          <img
            src="https://www.flaticon.com/svg/static/icons/svg/1250/1250616.svg"
            alt=""
            class="stat-svg"
          />
          <h4>{{ qCreated }} Quizzes created</h4>
        </div>
        <div class="stat">
          <img
            src="https://www.flaticon.com/svg/static/icons/svg/945/945464.svg"
            alt=""
            class="stat-svg"
          />
          <h4>{{ bCreated }} Blog posts</h4>
        </div>
      </div>
    </div>
  </div>
</section>
