<footer *ngIf="isReady$ | async">
  <section class="quizzie">
    <h3>Quizzie</h3>
    <p class="quizzie-description">
      Quizzie is a project website for an Angular exam. It aims to provide an
      easy-to-use gaming platform for quiz and trivia games. Everything is free
      and there is no copyright.
    </p>
  </section>

  <section class="useful-links">
    <h4>Useful links</h4>
    <ul>
      <li><a href="">About us</a></li>
      <li><a href="">Creator's hub</a></li>
      <li><a href="">Sign in</a></li>
      <li><a href="">Sign up</a></li>
    </ul>
  </section>

  <section class="social-media">
    <h4>Social media</h4>
    <ul>
      <li><a href="">Facebook</a></li>
      <li><a href="">Instagram</a></li>
      <li><a href="">Twitter</a></li>
    </ul>
  </section>

  <section class="contact-us">
    <h4>Contact us</h4>

    <form action="">
      <input type="text" placeholder="Your email:" />
      <textarea class="message" placeholder="Your message: "></textarea>
      <button class="send">Send</button>
    </form>
  </section>
</footer>
