<body>
  <main>
    <section class="description">
      <img
        class="scrabble"
        src="https://images.pexels.com/photos/5649889/pexels-photo-5649889.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        alt=""
      />

      <div class="description-container">
        <h3>Welcome to Quizzie!</h3>
        <p>
          We make exercising your brain funny, effective and competitive. Join
          our family and let's get smarter together!
        </p>

        <div class="btn-container">
          <a *ngIf="!(isLogged$ | async)" routerLink="/quiz/random"
            >Play random</a
          >
          <a *ngIf="!(isLogged$ | async)" routerLink="/user/register">
            Register
          </a>
          <a href="#" routerLink="/quiz/create" *ngIf="isLogged$ | async"
            >Create quiz</a
          >
          <a href="#" routerLink="/quiz/random" *ngIf="isLogged$ | async"
            >Random quiz</a
          >
        </div>
      </div>
    </section>

    <section class="quiz-section">
      <section class="quizzes">
        <h3>Recent custom quizzes</h3>
        <div class="first-row">
          <article *ngFor="let quiz of quizzes" class="quiz-card">
            <img src="{{ quiz.imgUrl }}" alt="" class="quiz-image" />
            <div *ngIf="isLogged$ | async" class="quiz-buttons">
              <button class="play" routerLink="/quiz/play/{{ quiz._id }}">
                Play
              </button>
              <button class="details" routerLink="/quiz/details/{{ quiz._id }}">
                Details
              </button>
            </div>
            <div *ngIf="!(isLogged$ | async)" class="details-button">
              <button class="guest-details">Details</button>
            </div>
          </article>
        </div>
      </section>

      <section class="leaderboard">
        <h3>Leaderboard</h3>
        <table>
          <tr class="legend">
            <th class="user-row-head">User</th>
            <th class="points-row-head">Quizzie Points</th>
          </tr>
          <tr class="row" *ngFor="let user of leaderboard">
            <td class="user-row">
              <img src="{{ user.imgUrl }}" alt="" class="profile-picture" />
              <h4 class="user-name">{{ user.username }}</h4>
            </td>
            <td class="points-row">
              <h4 class="points">{{ user.points }}</h4>
            </td>
          </tr>
        </table>
      </section>
    </section>

    <section class="website-statistics">
      <h3>Our achievements</h3>
      <div class="flex-container">
        <article class="website-users">
          <img
            src="https://www.flaticon.com/svg/static/icons/svg/681/681494.svg"
            alt=""
            class="svg"
          />

          <h4>{{ uCount }} Users</h4>
        </article>
        <article class="website-quizzes">
          <img
            src="https://www.flaticon.com/svg/static/icons/svg/25/25400.svg"
            alt=""
            class="svg"
          />

          <h4>{{ qCount }} Quizzes</h4>
        </article>
        <article class="website-blogposts">
          <img
            src="https://www.flaticon.com/svg/static/icons/svg/1187/1187595.svg"
            alt=""
            class="svg"
          />

          <h4>{{ fCount }} Forum posts</h4>
        </article>
      </div>
    </section>

    <section class="featured-blogposts">
      <h3 class="f">Recent forum posts</h3>
      <div class="post" *ngFor="let post of forumPosts">
        <h3 class="post-title">{{ post.title }}</h3>
        <p class="post-firstTwenty">{{ post.content.slice(0, 150) + "..." }}</p>

        <a href="#" class="read" routerLink="/forum/details/{{ post._id }}"
          >Read post</a
        >
      </div>
    </section>
  </main>
</body>
