@import url("https://fonts.googleapis.com/css2?family=Galada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya&display=swap");

::ng-deep :root {
  --mainBlue: #3f51b5;
  --secondaryBlue: #6574c4;
  --logoFont: "Galada", cursive;
  --textFont: "Alegreya", serif;

  --darkerBlue: #03256c;
  --darkBlue: #254182;
  --midBlue: #1768ac;
  --lightBlue: #06bee1;
  --white: #ffffff;
}

::ng-deep body {
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p,
a {
  font-family: var(--textFont);
}

.description {
  display: flex;
  background-color: var(--darkBlue);
  color: white;
  height: 55vh;
  width: 100vw;
}

.scrabble {
  clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
  min-height: 40vh;
  max-height: 65vh;
  min-width: 75%;
  object-fit: cover;
  opacity: 1;
}

.description-container {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 65vh;
}

.description-container h3 {
  font-size: 45px;
  width: 30vw;
  position: relative;
  right: 10vw;
}

.description-container p {
  font-style: italic;
  line-height: 2.5vw;
  font-size: 18px;
  width: 30vw;
  position: relative;
  right: 9vw;
}

.btn-container {
  position: relative;
  right: 5vw;
  justify-content: space-evenly;
  padding: 2vw;
  display: flex;
}

.btn-container a {
  border-radius: 60px;
  color: #ffffff;
  font-family: var(--textFont);
  font-size: 20px;
  font-weight: 500;
  padding: 5%;
  background-color: #1768ac;
  box-shadow: 1px 1px 5px 0 #000000;
  text-shadow: 1px 1px 5px #000000;
  border: solid #03256c 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
}

.btn-container a:hover {
  background-color: var(--darkerBlue);
  color: white;
}

.quiz-section {
  background: white;
  height: auto;
  min-height: 60vh;
  padding-top: 3vh;
  padding-left: 2vw;
  display: flex;
  width: auto;
}

.quizzes {
  width: 60%;
}

.quiz-card {
  display: flex;

  flex-direction: column;
  padding-top: 3vh;
}

.quiz-image {
  max-width: 25vw;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  opacity: 1;
  transition: 0.5s;
}

.quiz-buttons {
  display: flex;
  width: 25vw;
}

.quiz-buttons button {
  cursor: pointer;
  background-color: var(--darkBlue);
  border: none;
  color: white;
  height: 5vh;
  transition: 0.5s;
  opacity: 1;
  width: 12.5vw;
  outline: none;
}

.guest-details {
  cursor: pointer;
  background-color: var(--darkBlue);
  border: none;
  color: white;
  height: 5vh;
  transition: 0.5s;
  opacity: 1;
  outline: none;
  width: 25vw;
}

.quiz-buttons button:hover,
.guest-details:hover {
  opacity: 0.5;
}

.quiz-buttons button:first-child {
  border-right: 2px solid var(--secondaryBlue);
}

.leaderboard {
  width: 40%;
}

.quizzes h3,
.leaderboard h3 {
  color: var(--darkerBlue);
  font-size: 26px;
}

.first-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 5vw;
}

.website-statistics {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  background: linear-gradient(
    139deg,
    rgba(23, 104, 172, 1) 0%,
    rgba(37, 65, 130, 1) 100%
  );
  margin: 10vh 0 10vh 0;
}

.website-statistics h3 {
  font-size: 30px;
  color: white;
  text-align: center;
  display: inline-block;
  margin-bottom: 7vh;
  margin-top: 4vh;
}

.flex-container {
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.website-statistics article {
  width: 20vw;
  height: 20vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 24px;
  align-items: center;
  justify-content: space-around;
  background-color: var(--darkerBlue);
  transition: all 0.2s ease-in-out;
}

.website-statistics article:hover {
  transform: scale(1.2);
}

.svg {
  width: 5vw;
  color: white;
}

.post {
  color: white;
  margin: 2%;
  background: linear-gradient(
    139deg,
    rgba(23, 104, 172, 0.7) 0%,
    rgba(37, 65, 130, 0.7) 100%
  );
  border-radius: 24px;
  width: 75vw;
  height: 20vh;
  margin-bottom: 3%;
  padding-top: 2%;
}

.post h3,
.post p {
  margin-left: 3vw;
  color: white;
  width: 50vw;
  word-wrap: break-word;
}

.read {
  position: relative;
  float: right;
  margin-right: 3vw;
  color: white;
  top: auto;
}

.f {
  color: var(--darkerBlue);
  font-size: 26px;
  margin-left: 2vw;
}

table {
  padding: 2%;
}

.profile-picture {
  margin-right: 5%;
  width: 4vw;
  max-width: 4vw;
  height: 4vw;
  object-fit: cover;
  border-radius: 50%;
}

.user-row {
  width: 15vw;
  display: flex;
}

.user-row-head {
  width: 15vw;
  display: flex;
  font-size: 22px;
}

.points-row-head {
  font-size: 22px;
}

.points-row {
  text-align: center;
}
