<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="about.component.css" />
  </head>
  <body>
    <div class="sub-nav">
      <div class="who">Who are we?</div>
      <div class="who-content">
        Quizzie is an online gaming platform for quiz games and trivias. We also
        offer various kinds of personality tests as well as other fun games.
      </div>
      <div class="ambitions">Our ambitions</div>
      <div class="ambitions-content">
        Quizzie aims to provide its users with an easy-to-use quiz and trivia
        gaming platform.
      </div>
      <div class="points">Quiz points system</div>
      <div class="points-content">
        Quizzie points are calculated when you divide your corrent answers by
        the total answers of the quiz and multiply the result by the remaining
        minutes.
      </div>
      <div class="custom">Custom quizzes</div>
      <div class="custom-content">
        Quizzie offers the possibility to create a custom quiz. You can choose
        between 3 time frames for a quiz and between the number of questions.
        After creation, your quiz will be revealed, and eventually posted.
      </div>
    </div>
  </body>
</html>
